.button {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: #FE7865;
  color: #ffffff;
  padding: 30px 40px;

  display: block;

  width: 360px;
}
