.places__main-title {
  margin: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  color: #2C2E3F;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 150%;
  }

  &:before {
    position: absolute;
    content: "";
    width: 65.3%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: #FE7865;

    @media (max-width: $tablet-width) {
      content: none;
    }
  }
}

.places__link {
  display: block;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgba(255, 255, 255, 0.7);

  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  padding: 30px 20px;
}

.places__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 -60px;

  @media (max-width: $tablet-width) {
    margin: 0 30px;
    margin-bottom: 80px;
  }
}

.places__mock {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(20, 21, 23, 0.6);
}

.places__item {
  position: relative;

  text-align: center;
  margin: 0;
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin: 0;
    margin-bottom: 20px;
  }
}

.places__item:hover,
.places__item:focus {
  .places__mock {
    display: block;
  }
}

.places__img {
  display: block;
}

.places {
  padding: 0 19.532%;

  @media (max-width: $tablet-width) {
    padding: 0 2.75%;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.places__title {
font-size: 24px;
line-height: 29px;
font-weight: 500;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;

  margin: 0;
  padding: 4.86% 0;
  min-width: 215px;
  text-align: center;
}

.places__wrapper {
  width: 350px;

  @media (max-width: $tablet-width) {
    width: auto;
    text-align: center;
  }
}

.places__text {
  @media (max-width: $tablet-width) {
    padding: 0 165px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
    line-height: 28px;
  }
}
