$theme-color: #81b3d2;
$hover-color: #669ec0;
$onclick-color: #5496bd;
$active-link-color: #766357;
$active-link-hover-color: #604e43;
$mobile-width-only: 767.9px;
$tablet-width: 1023px;
$desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
